{
  "presets": [
    "env", 
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    [
      "transform-runtime",
      "syntax-dynamic-import",
      "transform-vue-jsx",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}