








































div section[data-v-2858b6af] {
  margin: 0;
  padding: 0;
}

section[data-v-2858b6af] {
  width: 100%;
  height: 100vh;
}

.content[data-v-2858b6af] {
  height: 100%;
}

.pane[data-v-2858b6af] {
  overflow: hidden;
  height: 100%;
}

.pane .content .preview[data-v-2858b6af] {
  overflow: scroll;
  height: 100%;
}

.pane-v[data-v-2858b6af] {
  float: left;
}

.gutter[data-v-2858b6af] {
  background: #ccc;
  overflow: hidden;
}

.gutter-v[data-v-2858b6af] {
  float: left;
  width: 2px;
  height: 100%;
  cursor: ew-resize;
}

.gutter-h[data-v-2858b6af] {
  width: 100%;
  height: 2px;
  cursor: ns-resize;
}

