.pane-v[data-v-3fe6a038]{float:left;height:100%}.afterCol[data-v-3fe6a038]{height:100%;display:inline-block}.gutter[data-v-3fe6a038]{background:#ccc;overflow:hidden;position:relative}.active[data-v-3fe6a038]{z-index:1}.gutter-v[data-v-3fe6a038]{float:left;width:2px;height:100%;cursor:ew-resize}.pane[data-v-8c2defba]{height:100%}.pane-v[data-v-8c2defba]{float:left}.gutter[data-v-8c2defba]{background:#ccc;overflow:hidden;position:relative}.active[data-v-8c2defba]{z-index:1}.gutter-h[data-v-8c2defba]{width:100%;height:2px;cursor:ns-resize}
.row .column[data-v-b2549f] {
  font-size: 12rem;
}
.column[data-v-b2549f] {
  overflow: hidden;
}
.row[data-v-b2549f] {
  height: 100%;
  overflow: hidden;
}